/* basic styles  */
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  /* font-family: "Inter", sans-serif;
    font-family: "Manrope", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif; */
}

/* header section styles  */
header {
  padding-top: 30px;
}

nav {
  margin-bottom: 50px;
}

header .navbar .navbar-brand {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

header .navbar-nav .nav-link {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-right: 35px;
}
header .navbar-nav .fa-magnifying-glass,
header .navbar-nav .fa-cart-shopping {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

/* banner section styles  */
.banner .banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}
.banner .banner-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}
.banner .banner-article .primary-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: #e02c6d;
  padding: 10px 24px;
}

.banner .banner-image {
  background-image: url(../images/logo/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
